name: Check Master

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
    
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-package: 'jdk'
          java-version: 21
          check-latest: true
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          cache: 'maven'

      - name: Import keystore
        id: keyfile
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'keystore.file'
          encodedString: ${{ secrets.KEYSTORE }}

      - name: Build with Maven
        run: ./mvnw -Dkeystorepass=${{ secrets.KEYSTORE_PASSWD }} -Dkeystore=${{ steps.keyfile.outputs.filePath }} -Dkeystorealias=plugins -B verify -P release
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
